## Produk DQLab Mart
![title](tables.png)
Mengacu pada table ms_produk, tampilkan daftar produk yang memiliki harga antara 50.000 and 150.000.

Nama kolom yang harus ditampilkan: no_urut, kode_produk, nama_produk, dan harga.

select no_urut, kode_produk, nama_produk, harga from ms_produk where harga >= 50000 and harga <= 150000

## Thumb drive di DQLab Mart

Tampilkan semua produk yang mengandung kata Flashdisk.

Nama kolom yang harus ditampilkan: no_urut, kode_produk, nama_produk, dan harga.

select no_urut, kode_produk, nama_produk, harga from ms_produk where nama_produk like '%Flashdisk%'

## Pelanggan Bergelar

Tampilkan hanya nama-nama pelanggan yang hanya memiliki gelar-gelar berikut: S.H, Ir. dan Drs.

Nama kolom yang harus ditampilkan: no_urut, kode_pelanggan, nama_pelanggan, dan alamat.

select no_urut,kode_pelanggan,nama_pelanggan,alamat from ms_pelanggan where nama_pelanggan like '%S.H%' or nama_pelanggan like '%Ir.%' or nama_pelanggan like '%Drs.%'

## Mengurutkan Nama Pelanggan

Tampilkan nama-nama pelanggan dan urutkan hasilnya berdasarkan kolom nama_pelanggan dari yang terkecil ke yang terbesar (A ke Z).

Nama kolom yang harus ditampilkan: nama_pelanggan.

select nama_pelanggan from ms_pelanggan order by nama_pelanggan asc

## Mengurutkan Nama Pelanggan Tanpa Gelar

Tampilkan nama-nama pelanggan dan urutkan hasilnya berdasarkan kolom nama_pelanggan dari yang terkecil ke yang terbesar (A ke Z), namun gelar tidak boleh menjadi bagian dari urutan. Contoh: Ir. Agus Nugraha harus berada di atas Heidi Goh.

Nama kolom yang harus ditampilkan: nama_pelanggan.

select nama_pelanggan from ms_pelanggan order by
case when left(nama_pelanggan,4)='Ir. ' then replace (nama_pelanggan,'Ir. ', '')
else nama_pelanggan
end

## Nama Pelanggan yang Paling Panjang

Tampilkan nama pelanggan yang memiliki nama paling panjang. Jika ada lebih dari 1 orang yang memiliki panjang nama yang sama, tampilkan semuanya.

Nama kolom yang harus ditampilkan: nama_pelanggan.

select nama_pelanggan from ms_pelanggan where length(nama_pelanggan) = (select max(hasil) from (select length(nama_pelanggan) hasil from ms_pelanggan) ms_pelanggan)

## Nama Pelanggan yang Paling Panjang dengan Gelar

Tampilkan nama orang yang memiliki nama paling panjang (pada row atas), dan nama orang paling pendek (pada row setelahnya). Gelar menjadi bagian dari nama. Jika ada lebih dari satu nama yang paling panjang atau paling pendek, harus ditampilkan semuanya.

Nama kolom yang harus ditampilkan: nama_pelanggan.

select nama_pelanggan from ms_pelanggan where length(nama_pelanggan) = (select max(hasil) from (select length(nama_pelanggan) hasil from ms_pelanggan) ms_pelanggan) union select nama_pelanggan from ms_pelanggan where length(nama_pelanggan) = (select min(hasil) from (select length(nama_pelanggan) hasil from ms_pelanggan) ms_pelanggan)

## Kuantitas Produk yang Banyak Terjual

Tampilkan produk yang paling banyak terjual dari segi kuantitas. Jika ada lebih dari 1 produk dengan nilai yang sama, tampilkan semua produk tersebut.

Nama kolom yang harus ditampilkan: kode_produk, nama_produk,total_qty.

select b.kode_produk, b.nama_produk, total_qty from ms_produk b inner join (select kode_produk, sum(qty) total_qty from tr_penjualan_detail group by kode_produk order by total_qty desc limit 2) a on a.kode_produk=b.kode_produk

## Pelanggan Paling Tinggi Nilai Belanjanya

Siapa saja pelanggan yang paling banyak menghabiskan uangnya untuk belanja? Jika ada lebih dari 1 pelanggan dengan nilai yang sama, tampilkan semua pelanggan tersebut.

Nama kolom yang harus ditampilkan: kode_pelanggan, nama_pelanggan, total_harga.

select b.kode_pelanggan, c.nama_pelanggan, b.total_harga from ms_pelanggan c inner join (select kode_pelanggan, sum(total_harga) total_harga from (select distinct b.kode_transaksi, b.kode_pelanggan, a.total_harga total_harga from tr_penjualan b inner join (select kode_transaksi, sum(total) total_harga from (select kode_transaksi, qty, harga_satuan, qty*harga_satuan total from tr_penjualan_detail) tr_penjualan_detail group by kode_transaksi) a on b.kode_transaksi=a.kode_transaksi) tr_penjualan group by kode_pelanggan order by total_harga desc limit 1) b on c.kode_pelanggan=b.kode_pelanggan

## Pelanggan yang Belum Pernah Berbelanja

Tampilkan daftar pelanggan yang belum pernah melakukan transaksi.

Nama kolom yang harus ditampilkan: kode_pelanggan, nama_pelanggan, alamat.

select a.kode_pelanggan, a.nama_pelanggan, a.alamat from ms_pelanggan a where not exists(select b.kode_pelanggan from tr_penjualan b where a.kode_pelanggan=b.kode_pelanggan)

## Transaksi Belanja dengan Daftar Belanja lebih dari 1

Tampilkan transaksi-transaksi yang memiliki jumlah item produk lebih dari 1 jenis produk. Dengan lain kalimat, tampilkan transaksi-transaksi yang memiliki jumlah baris data pada table tr_penjualan_detail lebih dari satu.

Nama kolom yang harus ditampilkan:  kode_transaksi, kode_pelanggan, nama_pelanggan, tanggal_transaksi, jumlah_detail

select c.kode_transaksi, c.kode_pelanggan, d.nama_pelanggan, c.tanggal_transaksi, c.jumlah_detail from ms_pelanggan d inner join (select distinct b.kode_transaksi, b.kode_pelanggan, b.tanggal_transaksi, a.jumlah jumlah_detail from tr_penjualan b inner join (select kode_transaksi, count(*) jumlah from tr_penjualan_detail group by kode_transaksi having count(*) >1) a on b.kode_transaksi=a.kode_transaksi) c on d.kode_pelanggan=c.kode_pelanggan